@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR ↓

*/

nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo img {
  width: 40px;
  height: 40px;
}

.nav__logo--text {
  padding-left: 20px;
}

.nav__links {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}
.nav__link:hover {
  color: #6415ff;
  border-bottom: 2px solid #6415ff;
  transition-duration: 400ms;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.nav__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav__link--primary {
  color: #f7fafc;
  padding: 10px 32px;
  background: #6415ff;
  border-radius: 400px;
  border: none;
}
.nav__link--primary:hover {
  color: #f7fafc;
  background: #3b02ac;
  border-bottom: none;
}

.menu--open .nav {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

.header__container {
  margin-top: 100px;
}

.header__row {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.header__content--LeftColumn,
.header__content--RightColumn {
  min-width: 0;
}

.header__content--RightColumn img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header__content--LeftColumn {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(26 32 44);
}
.header__content--TitleStyled {
  color: #6415ff;
}

.header__content--paragraph {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.header__content--actions {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 4rem;
  position: relative;
  max-width: 28rem;
  height: 3rem;
  max-height: 10rem;
  text-align: center;
}
.header__content--actions input {
  width: 100%;
  height: 100%;
  padding: 0 10rem 0 2rem;
  border: 2px solid #e5e7eb;
  border-radius: 9999px;
  font: inherit;
}

.header__content--actions input::placeholder {
  color: #a0aec0;
  font-weight: 500;
}
.header__content--actions button {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 9rem;
  height: 3rem;
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: #6415ff;
  justify-content: center;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}
.header__content--actions button:hover {
  background-color: #3b02ac;
  transition-duration: 0.3s;
}
.header__content--LogoStrip {
  width: 100%;
  max-width: 28rem;
}

.header__content--LogoStrip p {
  color: rgb(160 174 192);
}

.header__content--LogoStrip img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(72%) sepia(13%) saturate(449%)
    hue-rotate(177deg) brightness(96%) contrast(89%);
}

/* 

FEATURES ↓

*/

.features__container {
  position: relative;
  padding: 80px 0;
}

.features__row__narrow {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
.features__ThreeColumn {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
}
.features__ThreeColumn--column {
  display: flex;
  width: calc(100% / 3);
  padding: 1rem;
}
.features__ThreeColumn--card .text__description {
  display: flex;
  flex-direction: column;
}
.features__subheading--highlight {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6415ff;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.features__heading {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
}
.features__heading--highlight {
  color: #6415ff;
}
.features__description {
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  margin: 2rem auto 4rem;
  max-width: 36rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124 139 161);
}
.features__ThreeColumn--column {
  max-width: 24rem;
}
.features__ThreeColumn--card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  padding: 2rem 0.5rem;
  text-align: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  text-align: center;
}
.imageContainer {
  flex: 0 0 auto;
  margin-right: 20px;
  transform: translateY(-10px);
  flex-shrink: 0;
  border-radius: 9999px;
  border-width: 1px;
  padding: 1.25rem;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(226 232 240);
}
.textContainer .title {
  display: block;
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
  text-align: left;
}
.textContainer .description {
  margin: 0;
  text-align: left;
}

/* 

QUALITY WORK ↓

*/
.quality__container {
  position: relative;
}
.quality__row {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex-direction: row;
  max-width: 1280px;
  margin: auto;
}
.quality__column--text,
.quality__column--image {
  flex: 1 1 0;
  min-width: 0;
}
.quality__textContainer {
  width: 100%;
  padding-right: 40px;
}
.quality__column--image img {
  display: block;
  width: 100%;
  margin-top: 7.25rem;
}
.quality__textContainer--subtitle .subtitle {
  display: inline-block;
  transform: translateY(30%);
  font-size: 1.25rem;
  text-align: left;
  line-height: 5;
  text-transform: uppercase;
  margin-bottom: 1rem;

  letter-spacing: 0.1em;
  font-weight: 700;
  color: rgb(100 21 255);
}
.quality__columnHeading {
  font-size: 3rem;
  margin-top: 1rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
}
.quality__StyledSpan {
  color: rgb(100, 21, 255);
}
.quality__textContainer p.description {
  margin-top: 1rem;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.625;
  color: rgb(124, 139, 161);
  margin: 0px;
}
.quality__PrimaryButton {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(100, 21, 255);
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.quality__PrimaryButton:hover {
  background-color: #3b02ac;
  transition-duration: 0.3s;
}

/* 

STEPS ↓

*/
.steps__container {
  position: relative;
}

.steps__row {
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.steps__column--image,
.steps__column--text {
  flex: 0 0 50%;
  min-width: 0;
}
.steps__column--text {
  padding-left: 3rem;
}
.steps__column--image {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}
.steps__column--image img {
  display: block;
  width: 100%;
}
.steps__textContainer {
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.steps__textContainer--subtitle {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(100, 21, 255);
}
.steps__textContainer--heading {
  font-size: 3rem;
  text-align: left;
  margin-top: 1rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
}
.steps__textContainer--highlight {
  color: rgb(100, 21, 255);
}
.steps__textContainer--steps {
  margin-top: 3rem;
  list-style: none;
  margin: 0px;
  padding-top: 3rem;
}
.steps__textContainer--step {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
}
.steps__textContainer--StepNumber {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(203, 213, 224);
}

.steps__textContainer--StepText {
  margin-top: 0px;
  margin-left: 1.5rem;
}
.steps__textContainer--StepHeading {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin: 0px;
  padding-bottom: 10px;
}
.steps__textContainer--StepDescription {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(113, 128, 150);
  margin: 0px;
}

/* 

VALUES ↓

*/
.values__container {
  position: relative;
}
.values__row {
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 1280px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.values__column--image {
  order: 1;
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
  border-radius: none;
}
.values__column--image img {
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
.values__column--text {
  width: 50%;
  order: 0;
  margin-right: 4rem;
  margin-top: 0px;
  margin-left: 0px;
  max-width: none;
}
.values__textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
}
.values__textContainer--Subheading .values__textContainer--highlight {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(100, 21, 255);
  margin: 0px;
}
.values__textContainer--SecondHighlight {
  position: relative;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0px;
  color: rgb(100, 21, 255);
}
.values__textContainer--Heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  margin: 0px;
  padding-bottom: 1rem;
}
.values__textContainer--description {
  font-size: 1.125rem;
  text-align: left;
  margin-top: 2rem;
  font-weight: 500;
  color: rgb(124 139 161);
  margin: 0px;
}
.values__textContainer--Features {
  display: flex;
  flex-direction: row;
  max-width: none;
  margin-left: 0px;
  margin-right: 0px;
}
.values__textContainer--Feature {
  margin-top: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.values__textContainer--FeatureHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.values__textContainer--FeatureIcon {
  background-color: rgb(220, 182, 160);
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 9999px;
  padding: 0.5rem;
  text-align: center;
  border-width: 0px;
}
.values__textContainer--FeatureHeading {
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: 700;
}
.values__textContainer--FeatureDescription {
  text-align: left;
  line-height: 1.625;
  color: rgb(113 128 150);
}

@media (min-width: 768px) {
  .values__textContainer--FeatureHeadingContainer {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .values__textContainer--FeatureIcon {
    margin-left: 0;
    margin-right: 0;
  }
}

.values__textContainer--SecondFeature {
  margin-top: 2rem;
  margin-right: 0px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.values__textContainer--SecondFeatureHeading {
  display: flex;
  align-items: center;
}
.values__textContainer--SecondFeatureIcon {
  background-color: rgb(155 178 178);
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 9999px;
  padding: 0.5rem;
  text-align: center;
  border-width: 0px;
}
.values__textContainer--SecondFeatureTitleHeading {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.values__textContainer--SecondFeatureTitleDescription {
  text-align: left;
  line-height: 1.625;
  color: rgb(113 128 150);
}
.values__textContainer--PrimaryButton {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(100, 21, 255);
  color: white;
  text-decoration: none;
  text-align: center;
}
.values__textContainer--PrimaryButton:hover {
  background-color: #3b02ac;
  transition-duration: 0.3s;
}

/*

PRICING ↓

*/
.pricing__container {
  position: relative;
}
.pricing__row {
  max-width: 1280px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pricing__Headercontainer {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pricing__Headercontainer > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pricing__Header {
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-align: center;
}
.pricing__Header--Title {
  color: rgb(100, 21, 255);
}

.pricing__Subheading {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(100, 21, 255);
  margin-bottom: 1rem;
}
.pricing__Subheading--Title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(100, 21, 255);
  letter-spacing: 0.1em;
}
.pricing__HeaderDescription {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 36rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124 139 161);
}
.pricing__PlansContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}
.pricing__Plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  color: rgb(26, 32, 44);
}
.pricing__StyledHighlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.pricing__PlanHeader {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}
.pricing__PlanHeader .price {
  font-size: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
  color: rgb(19, 20, 20);
}
.pricing__PlanHeader .name {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(19, 20, 20);
}
.pricing__PlanHeader .duration {
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(160, 174, 194);
}
.pricing__PlanFeatures {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
  padding: 32px 16px;
  flex: 1;
}
.pricing__PlanFeatures .feature {
  margin-top: 0px;
}
.pricing__PlanFeatures .feature.mainFeature {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.pricing__PlanFeatures .feature.secondaryFeature {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: rgb(113, 128, 150);
}
.pricing__Plan.businessPlan {
  background-color: rgb(100, 21, 255);
  color: white;
}
.pricing__Plan.businessPlan .pricing__PlanFeatures .feature {
  border-color: rgba(255, 255, 255, 0.2);
}
.pricing__Plan.businessPlan .pricing__PlanHeader span,
.pricing__Plan.businessPlan .pricing__PlanFeatures .feature {
  color: white;
}
.pricing__PlanCTA {
  padding-left: 4rem;
  padding-right: 4rem;
  padding: 2rem 1rem;
}
.pricing__PlanButton {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  display: block;
  width: 100%;
  max-width: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9999px;
  border: none;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 1.25rem 2rem;
  font-weight: 700;
  color: rgb(247, 250, 252);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.pricing__Plan.businessPlan .pricing__PlanButton {
  background: rgb(248, 247, 249);
  display: block;
  width: 100%;
  max-width: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9999px;
  border: none;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 1.25rem 2rem;
  font-weight: 700;
  color: rgb(100, 21, 255);
}
.pricing__PlanButton:hover,
.pricing__Plan.businessPlan .pricing__PlanButton:hover,
.pricing__Plan.enterprisePlan .pricing__PlanButton:hover {
  transform: translate(-50%, -2px);
  box-shadow: 0 6px 12px rgba(30, 41, 59, 0.24);
}
.pricing__Plan.enterprisePlan--StyledHighlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -60px;
  height: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.pricing__Plan.enterprisePlan .pricing__PlanButton {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

@media (max-width: 1024px) {
  .pricing__PlansContainer {
    flex-direction: column;
    align-items: center;
  }

  .pricing__Plan,
  .pricing__Plan.businessPlan,
  .pricing__Plan.enterprisePlan {
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex: none;
    flex-direction: column;
  }
}

/* 

TESTIMONIALS ↓

*/
.testimonials__container {
  position: relative;
}
.testimonials__row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1280px;
  margin: auto;
}
.testimonials__ImageContainer {
  width: 100%;
  position: relative;
  flex-shrink: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}
.testimonials__ImageContainer img {
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
.testimonials__TextContainer {
  padding-left: 0;
  margin-top: 0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}
.testimonials__TestimonialRating {
  outline: none;
  width: 358px;
  margin-bottom: 0.25rem;
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.testimonials__TestimonialRatingStar {
  margin-right: 0.25rem;
  display: inline-block;
  font-size: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(246, 173, 85);
}
.testimonials__TestimonialHeading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
  color: rgb(30, 41, 59);
}
.testimonials__TestimonialDescription {
  width: 100%;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.624;
  color: rgb(30, 41, 59);
}
.testimonials__TestimonialAuthorContainer {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.testimonials__TestimonialAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.testimonials__TestimonialAuthor img {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 9999px;
  vertical-align: middle;
}
.testimonials__TestimonialAuthorInfo {
  text-align: left;
  margin-left: 1.5rem;
  margin-top: 0px;
}
.testimonials__TestimonialAuthorInfo h5 {
  font-size: 1.25rem;
  font-weight: 700;
}
.testimonials__TestimonialAuthorInfo p {
  font-weight: 500;
  color: rgb(124, 139, 161);
  margin: 0px;
}
.testimonials__TestimonialControls {
  display: flex;
  margin-top: 0px;
}
.testimonials__TestimonialControlButton {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 9999px;
  background-color: rgb(237, 242, 247);
  padding: 1rem;
  color: rgb(100, 21, 255);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.testimonials__TestimonialControlButton:hover {
  background-color: rgb(237, 242, 255);
  color: rgb(100, 21, 255);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.testimonials__ButtonDivider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-right: 1px solid rgb(237, 242, 247);
}

@media (min-width: 768px) {
  .testimonials__row {
    flex-direction: row;
    align-items: center;
  }

  .testimonials__ImageContainer {
    width: 41.6667%;
  }

  .testimonials__TextContainer {
    width: 58.3333%;
    padding-left: 3rem;
  }
}
.testimonials__TextSubheading {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  color: rgb(100, 21, 255);
}
.testimonials__TextSubheadingSpan {
  font-weight: 700;
  color: rgb(100, 21, 255);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.testimonials__TextHeading {
  text-align: left;
  font-size: 2.25rem;
  margin: 30px 0 0;
  font-weight: 900;
  line-height: 1.25;
}
.testimonials__TextHighlight {
  color: rgb(100, 21, 255);
}
.testimonials__TextDescription {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(124, 139, 161);
  margin: 30px 0 0;
}
.testimonials__TestimonialRating {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .testimonials__TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__TextSubheading,
  .testimonials__TextHeading,
  .testimonials__TextDescription {
    width: 100%;
    text-align: center;
  }

  .testimonials__TestimonialRating {
    align-items: center;
    text-align: center;
  }

  .testimonials__TestimonialRatingStars,
  .testimonials__TestimonialControls {
    display: flex;
    justify-content: center;
  }

  .testimonials__TestimonialHeading,
  .testimonials__TestimonialDescription {
    width: 100%;
    text-align: center;
  }

  .testimonials__TestimonialAuthorContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .testimonials__TestimonialAuthor {
    flex-direction: row;
    justify-content: center;
  }

  .testimonials__TestimonialControls {
    flex-direction: row;
  }

  .testimonials__TestimonialAuthorInfo {
    text-align: center;
  }
}

/* 

START / CALL TO ACTION ↓

*/
.start__TextContainer {
  margin-bottom: 4rem;
  position: relative;
}
.start__Card {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.start__BackgroundContainer {
  position: relative;
  border-radius: 0.5rem;
  background-color: rgb(100, 21, 255);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.start__row {
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}
.start__TextContainer {
  max-width: 32rem;
}
.start__TextHeading {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 3rem;
  color: rgb(247, 250, 252);
}
.start__LinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 32rem;
}
.start__PrimaryLink {
  background-color: rgb(245, 101, 101);
  color: rgb(247, 250, 252);
  padding: 1rem 1.5rem;
  margin-right: 2rem;
  width: auto;

  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  letter-spacing: 0.25em;
  transition: all 0.3s ease-in-out;
}
.start__PrimaryLink:hover {
  background-color: rgb(241, 54, 54);
  transition: all 0.3s ease-in-out;
}
.start__SecondaryLink {
  margin-right: 0px;
  border: 1px solid rgb(157, 172, 193);
  color: rgb(247, 250, 252);
  margin-top: 0px;
  width: auto;
  padding: 1rem 2rem;
  border-radius: 9999px;
  border-width: 1px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.start__SecondaryLink:hover {
  background-color: rgb(230, 230, 230);
  color: rgb(100, 21, 255);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .testimonials__TestimonialAuthorContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .testimonials__TestimonialAuthor {
    flex-direction: column;
    align-items: center;
  }

  .testimonials__TestimonialAuthorInfo {
    margin: 0;
    text-align: center;
  }

  .testimonials__TestimonialControls {
    flex-direction: row;
    justify-content: center;
  }

  .start__LinkContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .start__PrimaryLink,
  .start__SecondaryLink {
    margin: 0;
  }
}

/* 

FOOTER ↓

*/

.footer__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -2rem;
  background-color: rgb(100, 21, 255);
  padding: 5rem 2rem;
  color: rgb(226, 232, 240);
}
.footer__row {
  position: relative;
  z-index: 10;
  margin: auto;
  max-width: 1280px;
}
.footer__FiveColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: wrap;
  transform: translateY(-60px);
}
.footer__Column {
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 3rem;
}
.footer__ColumnHeading {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 0.05em;
  color: rgb(226, 232, 240);
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.footer__ColumnList {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(226, 232, 240);
}
.footer__ColumnListItem {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.75rem;
}
.footer__ColumnListItem a {
  color: rgb(225, 229, 234);
  text-decoration: none;
  border-bottom: 1.5px solid transparent;
  padding-bottom: 0.2rem;
  transition: border-color 0.3s;
}
.footer__ColumnListItem a:hover {
  border-bottom-color: rgb(255, 229, 234);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.footer__Divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-color: rgb(116, 44, 255);
}
.footer__FooterBase {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.footer__FooterLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
}
.footer__FooterLogo img {
  width: 3rem;
  padding-left: 1rem;
}
.footer__FooterLogoText {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: rgb(247, 250, 252);
  white-space: nowrap;
}
.footer__FooterText {
  margin-top: 0px;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(203, 213, 224);
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  justify-self: center;
}
.footer__FooterLinks {
  display: flex;
  margin-top: 0px;
  margin-left: 20px;
}
.footer__FooterSocialLinks {
  margin-right: 1rem;
  text-decoration: none;
  border-radius: 9999px;
  background-color: rgb(247 250 252);
  padding: 0.25em;
  color: rgb(26 32 44);
}
.footer__FooterSocialLinks:hover {
  text-decoration: underline;
  background-color: rgb(226, 232, 240);
  color: rgb(26 32 44);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* 

MOBILE RESPONSIVENESS */

@media (max-width: 1024px) {
  header .row {
    align-items: flex-end;
  }

  .features__ThreeColumn--column {
    flex: 0 0 50%;
    width: 50%;
    max-width: none;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }

  .btn__menu--close {
    display: none;
  }

  .header__row {
    flex-direction: column;
    align-items: center;
  }
  .header__content--LeftColumn {
    text-align: center;
  }
  .header__content--actions,
  .header__content--LogoStrip {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }
}

@media (max-width: 1024px) {
  .values__textContainer--Features {
    flex-direction: column;
  }

  .values__textContainer--Feature,
  .values__textContainer--SecondFeature {
    width: 100%;
    box-sizing: border-box;
  }

  .values__textContainer--Feature {
    margin-right: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .values__textContainer--Subheading {
    align-self: flex-start;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .footer__FooterBase {
    display: none;
  }

  .features__ThreeColumn--column {
    flex: 0 0 100%;
    width: 100%;
  }

  .features__ThreeColumn--card .imageContainer,
  .features__ThreeColumn--card .textContainer {
    position: relative;
    left: 70px;
  }

  .features__ThreeColumn--card .description {
    margin-right: 160px;
  }

  .quality__row {
    flex-direction: column-reverse;
    align-items: center;
  }

  .quality__column--image,
  .quality__column--text {
    flex-basis: auto;
    width: 100%;
  }

  .quality__column--image img {
    margin: 0 auto;
  }

  .quality__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    text-align: center;
  }

  .values__textContainer--Heading,
  .values__textContainer--description {
    width: 75%;
    box-sizing: border-box;
  }

  .quality__textContainer--subtitle .subtitle,
  .quality__columnHeading,
  .quality__textContainer p.description {
    text-align: center;
  }

  .steps__row {
    flex-direction: column;
    align-items: center;
  }

  .steps__column--image {
    order: 0;
    flex-basis: auto;
    width: 100%;
  }

  .steps__column--image img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .steps__column--text {
    order: 1;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .steps__textContainer {
    width: 100%;
    text-align: center;
  }

  .steps__textContainer--heading {
    text-align: center;
  }

  .steps__textContainer--step {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps__textContainer--StepText {
    margin-left: 0;
  }

  .steps__textContainer--StepDescription {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .values__row {
    flex-direction: column;
    align-items: center;
  }

  .values__column--image {
    display: block;
    order: 0;
    width: 100%;
  }

  .values__column--image img {
    margin-left: auto;
    margin-right: auto;
  }

  .values__column--text {
    display: flex;
    order: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }

  .values__column--text .values__textContainer {
    width: 100%;
  }

  .values__textContainer--Heading,
  .values__textContainer--description {
    text-align: center;
  }

  .values__textContainer--Features {
    width: 100%;
    align-items: center;
  }

  .values__textContainer--Feature {
    text-align: center;
  }

  .values__textContainer--FeatureHeadingContainer {
    justify-content: center;
  }

  .values__textContainer--SecondFeature {
    align-items: center;
    text-align: center;
  }

  .values__textContainer--FeatureDescription,
  .values__textContainer--SecondFeatureTitleDescription {
    align-self: center;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
  }

  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
